materials
tmp/
.~*
*.log
*.ods
*.xls
*.xlsx
*.pdf
*.md.backup
octave-workspace

# LaTeX temporary files
protokol.aux
protokol.log
protokol.bbl
protokol.blg
protokol.fls
protokol.fdb_latexmk

# Eclipse files
.externalToolBuilders/
.settings/
.project
.texlipse

